**

!/.gitignore

!/fish_prompt.fish
!/prompt_utils.fish
!/prompts/
!/prompts/*
!/aws-vault.fish
!/dict.fish
!/dotfiles.fish
!/urlencode.fish
!/nya-n.fish
!/nyan.fish
!/funzf.fish
!/_keybinds.fish
!/_keybinds_fzf_dir.fish
